# 3.3. Jakość podziału: MSE

Jeśli masz już doświadczenie w rozwiązywaniu problemów regresji, np. za pomocą prostego modelu regresji liniowej, to z pewnością metryka **Mean Squared Error** nie jest Ci obca. Zacznijmy może od formalnej definicji:

$$ MSE = \frac{ \sum_{i=0}^{N}{ ( \overline{y_{i}} - y_{i} )^{2} } }{ N } $$

Pozwala ona określić jaka jest średnia odległość wartości zwracanych przez nasz system do wartości oczekiwanych. Przez wykorzystanie kwadratu różnicy, **MSE** zwraca niejako większą uwagę na wartości najbardziej odległe od prawdziwych.

## Podział zbioru danych z wykorzystaniem MSE

Podobnie jak w przypadku klasyfikacji, proces uczenia sprawdza różne możliwości podziału zbioru w aktualnym węźle drzewa. Dzieje się to zarówno na poziomie wyboru najlepszej cechy, jak i jej optymalnej wartości, aby zmaksymalizować wartość *impurity*. Uprościmy sobie trochę to zagadnienie - załóżmy że mamy tylko jedną cechę i chcemy dokonać podziału tylko ze względu na jej wartość. 

Zagadnienie optymalizacji cen jest dość często rozpatrywanym problemem. Kwota jaką musimy zapłacić za dany produkt ma ogromny wpływ na liczbę sprzedanych produktów, a przez to na nasz dochód, jeśli jesteśmy sprzedawcą. Załóżmy że domyślnie nasz produkt kosztuje 20 zł, a nasz zarobek to 30% marży, tj. 6 zł. Jeśli zmniejszymy cenę, to w oczywisty sposób koszta pozostaną niezmienne, a nasza marża spadnie. W takim wypadku spodziewalibyśmy się wzrostu liczby transakcji, co finalnie może przełożyć się na większy zysk, pomimo mniejszej marży. Może się tak dziać tylko do pewnego poziomu, ponieważ popyt na dany towar nie jest nieograniczony. Przeciwnie, zwiększając cenę, możemy uzyskiwać większe marże, jednak liczba zakupionych produktów będzie w granicy spadać do 0. Załóżmy jednak, że jesteśmy w stanie eksperymentować. Załóżmy, że w toku eksperymentu zgromadziliśmy takie informacje i otrzymaliśmy następujące dane (dochód liczymy w okienkach tygodniowych):

In [1]:
import numpy as np
import pandas as pd

In [2]:
price = np.linspace(14, 30, 15)
income = [0.0,
          22.270210334494614,
          61.5656001620554,
          76.31767626268956,
          139.84489205505548,
          196.65351459100881,
          263.50293653807745,
          265.9914199145693,
          237.01894881636946,
          173.14474251125418,
          121.16183867125716,
          60.498814563088466,
          26.97578198428058,
          3.5312918245180143,
          4.932649288597467]
prices_df = pd.DataFrame({
    "price": price,
    "income": income
})
prices_df

        price      income
0   14.000000    0.000000
1   15.142857   22.270210
2   16.285714   61.565600
3   17.428571   76.317676
4   18.571429  139.844892
5   19.714286  196.653515
6   20.857143  263.502937
7   22.000000  265.991420
8   23.142857  237.018949
9   24.285714  173.144743
10  25.428571  121.161839
11  26.571429   60.498815
12  27.714286   26.975782
13  28.857143    3.531292
14  30.000000    4.932649